html {
    font-family: 'Oswald', sans-serif;
    font-size: 1rem;
}

.jumbotron {
    text-align: center;
    background-color: #1b1717;
    color: rgb(255, 255, 255);
    padding: 2%;
}

#train-schedule-table {
    background-color: #ffffffe5;
    color: rgb(12, 11, 11)
}

#add-train-btn {
    background: rgb(24, 23, 22);
}